In [41]:
#importing dependencies
import gmaps
import pandas as pd
from sqlalchemy import create_engine
from config import password
from config import gkey
gmaps.configure(api_key= gkey)
import plotly
import requests
import json

ModuleNotFoundError: No module named 'plotly'

In [33]:
file_path = 'data/MSP_neighborhoods.csv'
MSP_df = pd.read_csv(file_path, encoding = "utf-8")

In [36]:
MSP_df

,City,Neighborhood,Total population,Total population - Share - Margin of Error,Total population - Share,Total population - Margin of Error,Male,Male - Share - Margin of Error,Male - Share,Male - Margin of Error,...,Poverty 35-44 - Share,Poverty 35-44 - Margin of Error,Poverty 45-54,Poverty 45-54 - Share - Margin of Error,Poverty 45-54 - Share,Poverty 45-54 - Margin of Error,Poverty 55-64,Poverty 55-64 - Share - Margin of Error,Poverty 55-64 - Share,Poverty 55-64 - Margin of Error
0,Minneapolis,Armatage,5252,296,100%,5.63%,2590,212,49.32%,4.04%,...,0.33%,1.88%,0,NaN,0,2.05%,261,351,4.98%,6.69%
1,Minneapolis,Audubon Park,5318,311,100%,5.85%,2568,245,48.28%,4.60%,...,10.95%,5.21%,852,490.0,16.31%,9.39%,649,490,12.43%,9.39%
2,Minneapolis,Bancroft,3523,263,100%,7.47%,1766,170,50.14%,4.84%,...,7.88%,8.32%,189,188.0,5.38%,5.34%,626,364,17.78%,10.33%
3,St Paul,Battle Creek-Highwood,23757,961,100%,4.05%,12168,619,51.22%,2.61%,...,13.93%,5.01%,3806,1165.0,16.09%,4.93%,2212,903,9.35%,3.81%
4,Minneapolis,Beltrami,1177,143,100%,12.12%,607,110,51.54%,9.37%,...,1.68%,5.54%,240,165.0,20.56%,14.12%,346,200,29.71%,17.20%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,St Paul,West Side,14594,659,100%,4.52%,7239,449,49.60%,3.07%,...,15.16%,5.88%,1370,787.0,9.50%,5.46%,1787,731,12.40%,5.07%
98,Minneapolis,Whittier,14115,702,100%,4.98%,7640,491,54.13%,3.48%,...,14.98%,4.96%,3481,1085.0,25.36%,7.91%,2896,1438,21.10%,10.48%
99,Minneapolis,Willard-Hay,9597,486,100%,5.06%,5054,354,52.66%,3.69%,...,16.21%,4.89%,2218,698.0,23.32%,7.34%,1776,544,18.67%,5.72%
100,Minneapolis,Windom,5416,290,100%,5.36%,2618,323,48.35%,5.96%,...,16.43%,11.20%,376,481.0,7.04%,9.00%,383,425,7.17%,7.95%
101,Minneapolis,Windom Park,5612,276,100%,4.92%,2765,241,49.28%,4.29%,...,5.40%,3.97%,608,437.0,11.05%,7.94%,1641,647,29.80%,11.75%

In [40]:
MSP_df_reduced = MSP_df[["City", "Neighborhood", "Total population","Total households", "Public transportation - Share","Walked, biked, worked at home, or other - Share","Unemployment rate - Share","18-24 years - Share","25-34 years - Share","35-44 years - Share","45-54 years - Share","55-64 years - Share","65-74 years - Share","75-84 years - Share","85 years and older - Share","Unemployment rate - Share"]]
MSP_df_reduced.head()

,City,Neighborhood,Total population,Total households,Public transportation - Share,"Walked, biked, worked at home, or other - Share",Unemployment rate - Share,18-24 years - Share,25-34 years - Share,35-44 years - Share,45-54 years - Share,55-64 years - Share,65-74 years - Share,75-84 years - Share,85 years and older - Share,Unemployment rate - Share
0,Minneapolis,Armatage,5252,2127,6.91%,11.30%,4.13%,4.94%,16.35%,17.44%,15.05%,9.80%,7.17%,3.79%,1.65%,4.13%
1,Minneapolis,Audubon Park,5318,2268,7.73%,12.43%,3.45%,6.61%,23.66%,17.20%,12.11%,11.51%,7.29%,1.06%,1.00%,3.45%
2,Minneapolis,Bancroft,3523,1517,9.16%,16.72%,4.83%,5.85%,22.18%,14.50%,12.91%,13.05%,6.07%,2.55%,0.90%,4.83%
3,St Paul,Battle Creek-Highwood,23757,8107,4.64%,4.91%,5.71%,8.73%,18.62%,11.89%,10.72%,10.49%,6.26%,2.50%,1.33%,5.71%
4,Minneapolis,Beltrami,1177,449,15.73%,11.03%,5.20%,12.03%,28.55%,15.01%,10.81%,8.84%,5.86%,0.25%,0.56%,5.20%

In [15]:
# Rename the headers to be more explanatory
#renamed_df = reduced_df.rename(columns={"

In [19]:

# Target city
target_city = "Minneapolis, Minnesota"

# Define the endpoint URL
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'

# Construct the query URL
target_url = f'{base_url}address={target_city}&key={gkey}'

In [20]:
# Run a request to endpoint and convert result to json
geo_data = requests.get(target_url).json()

# Print the json
print(geo_data)

{'results': [{'address_components': [{'long_name': 'Minneapolis', 'short_name': 'Minneapolis', 'types': ['locality', 'political']}, {'long_name': 'Hennepin County', 'short_name': 'Hennepin County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Minnesota', 'short_name': 'MN', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'Minneapolis, MN, USA', 'geometry': {'bounds': {'northeast': {'lat': 45.05125, 'lng': -93.193794}, 'southwest': {'lat': 44.890144, 'lng': -93.329163}}, 'location': {'lat': 44.977753, 'lng': -93.2650108}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 45.05125, 'lng': -93.193794}, 'southwest': {'lat': 44.890144, 'lng': -93.329163}}}, 'place_id': 'ChIJvbt3k5Azs1IRB-56L4TJn5M', 'types': ['locality', 'political']}], 'status': 'OK'}

In [21]:
# Print the json (pretty printed)
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Minneapolis",
                    "short_name": "Minneapolis",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Hennepin County",
                    "short_name": "Hennepin County",
                    "types": [
                        "administrative_area_level_2",
                        "political"
                    ]
                },
                {
                    "long_name": "Minnesota",
                    "short_name": "MN",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "Minneapolis, MN, USA",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 45.05125,
                        "lng": -93.193794
                    },
                    "southwest": {
                        "lat": 44.890144,
                        "lng": -93.329163
                    }
                },
                "location": {
                    "lat": 44.977753,
                    "lng": -93.2650108
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 45.05125,
                        "lng": -93.193794
                    },
                    "southwest": {
                        "lat": 44.890144,
                        "lng": -93.329163
                    }
                }
            },
            "place_id": "ChIJvbt3k5Azs1IRB-56L4TJn5M",
            "types": [
                "locality",
                "political"
            ]
        }
    ],
    "status": "OK"
}